.features-div {
  
  width: 100%;
  margin-inline: auto;
  padding-bottom: 113.04px;
}

.features-title {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 56px;
  text-align: center;
}

.features-p {
  width: 967px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-inline: auto;
  margin-top: 31.99px;
}

.flex-div {
  padding: 5rem 0;
  height: 316px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-div-left {
  width: 626px;
  margin-left: 0.8rem;
}

.flex-div-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
  font-style: normal;
}

.flex-div-p {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-top: 31.99px;
  height: 170px;
}

.selecting_ss {
  background-color: #33393f;
 
  padding-bottom: 10rem;
  z-index: 1;
}

.ss-title {
  padding-top: 104px;
  width: 598px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  margin-inline: auto;
}

.tools-self {
  margin-top: auto;
}

.ss-content {
  margin-top: 2rem;
  margin-inline: auto;
  width: 1023px;
  line-height: 32px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
}