
@mixin flex-box($justifyContent: space-between, $flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
  }
.nav {
    @include flex-box;
    width: 100%;
  }
  .header_left {
    @include flex-box;
    align-items: center;
    .header_logo {
      width: 100%;
    }
    &--menu {
      padding: 0 1rem;
      width: 100%;
      @include flex-box;
      align-items: center;
      &-items {
        width: 100%;
        @include flex-box;
        p {
          padding: 0 0.5rem 0 1rem;
        }
      }
    }
  }
  .header_right {
   
    @include flex-box;
    align-items: center;
    &--language {
      @include flex-box;
      align-items: center;
      p {
        padding: 0 0.5rem 0 0.5rem;
      }
    }
    &--contact {
      padding: 0 1rem 0 1rem;
    }
    &--signup {
      button {
        background-color: #19B885;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px;
      }
    }
  }
  header {
    @include flex-box;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99;
    padding: 2rem 6rem 1rem 6rem;
  }
  
  
    
  
  
  
  
  
  
  