.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_left .header_logo {
  width: 100%;
}
.header_left--menu {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_left--menu-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_left--menu-items p {
  padding: 0 0.5rem 0 1rem;
}

.header_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_right--language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_right--language p {
  padding: 0 0.5rem 0 0.5rem;
}
.header_right--contact {
  padding: 0 1rem 0 1rem;
}
.header_right--signup button {
  background-color: #19B885;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 99;
  padding: 2rem 6rem 1rem 6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}

.second-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
}

.third-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}

.fourth-head {
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.grid-section {
  padding-top: 20px;
  width: 1274px;
  height: 356px;
  top: 100px;
  left: 83px;
  display: flex;
}

.container {
  display: flex;
  height: 65vh;
  justify-content: center;
  align-items: center;
}

.base-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.input-field {
  width: 268px;
  height: 50px;
  border: 1px;
  border: 1px solid #D8D8D8;
  color: #D8D8D8;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding-left: 20px;
  text-align: left;
}

.flex-columns {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.f-para {
  padding: 4rem;
  width: 80%;
  margin: auto;
  text-align: center;
}
.f-accordions {
  width: 50%;
  margin: auto;
}
.f-accordion-btn {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  border: none;
}
.f-accordion-btn-primary {
  width: 90%;
}
.f-accordion-panel {
  display: none;
}

div.project_content {
  padding-top: 25vh;
  justify-items: center;
  align-items: center;
}

.project_content h1, h2, p {
  padding: 0.2rem 1rem;
}

.project_container img {
  height: 75%;
}

/* Swiper container stylng */
.swiper {
  right: 1rem;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide_1 {
  background-color: #643ca3;
}

.slide_2 {
  background-color: #e38364;
}

.slide_3 {
  background-color: #faf47a;
}

.slide_4 {
  background-color: #faf47a;
}

.slide_5 {
  background-color: #faf47a;
}

.swiper-button-next,
.swiper-button-prev {
  outline: none;
}

div.swiper-button-next, div.swiper-button-prev {
  top: 70%;
}/*# sourceMappingURL=main.css.map */